body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f1424;
    color: white;
    /* text-align: center; */
}
main{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    gap: 1.5rem;
}
img{
    width: 4rem;
    height: 4rem;
}
.profile{
    background-color: #121a2f;
    border-radius: 1rem;
    width: 13rem;
}
.user-profile{
    padding-top: 1rem;
    padding-bottom: 7rem;
    background-color: #334eac;
    padding-left: 2rem;
    border-radius: 1rem;
}
.calendar{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    background-color: #121a2f;
}
a{
    color: #334eac;
    /* opacity: 0.7; */
    text-decoration: none;
}
a:hover{
    color: #c0c0c0
}
.schedule{
    display: grid;
    grid-template-columns: repeat(3, 14rem);
    /* grid-template-rows: repeat(2, 10rem); */
    gap: 1.5rem;
}
.top{
    height: 50px;
    border-radius: 10px;
}
.bottom{
    background-color: #121a2f;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
.bottom h2{
    font-size: 3rem;
    margin: -5px;
    font-family: 'Times New Roman', Times, serif;
}
.card{
    border-radius: 1rem;
    
}
.title {
   display: flex;
   justify-content: space-between;
   font-weight: bold;
   
}
h5{
    opacity: 0.7;
    font-size: 0.9rem;
  
}

